body.dark-theme {
  --background: #292a2d;
  --background-secondary: #3b3d42;
  --header: #252627;
  --color: #f0f0f0;
  --color-secondary: #a9a9b3;
  --border-color: #4a4b50;
}

.icon-links {
  font-size: 16px;
  text-decoration: none;
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

@media (--phone) {
  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 0.9rem;
  }
}
